nav{
padding: 0;
margin: 0;
background-color:rgba(35, 203, 167, 1);
}
nav ul{
background: rgba(3, 166, 120, 1)
color:green;
text-align: center;
}
nav ul li{
display: inline-block;
font-size: 20px;
font-weight:bold;
text-transform: capitalize;
}
nav ul li a{
display:block;
text-decoration: none;
color: black;
padding: 10px;
text-align: center;
}
nav ul li a:hover{
color: white;
}
.main{
	height:500px;
	background-color:rgba(54, 215, 183, 1); 
 	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;

}
.main p{
font-family:verdana;
font-size:20px;
text-align:center;
padding-top: 150px;
color:rgba(255, 255, 255, 0.5);
text-transform:capitalize;

}

div input[type="button"]{
font-family:;
font-size:20px;
color:rgba(0, 0, 0, 0.8);
text-transform:capitalize;
background-color: green;
border-radius: 4px;
border: none;
margin-left: 630px;
width:100px;
height:40px;


}
div input:hover{

color:#000;
}

.content div.card{	

width: 200px;
height: 90px;
border: 1px solid black;
border-radius: 5px;
float:left;
margin:  32px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
.conten div.card{	
color:white !important;
width: 300px;
/*height: 90px;*/
border: 1px solid pink;
border-radius: 5px;
margin: 30px auto;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
padding:35px;
	

}
.conten{
background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/cover1.jpg);
background-repeat:no-repeat;
background-size: cover;
background-position:center;
height:100vh;
padding: 10px;

}

.content div.card p{
color: black;
font-weight: bold;
}
h4{
text-align: center;
color: green;
font-weight: bold;;
font-size: 20px;

}

.content{
background-color: rgba(38, 194, 129, 1);
}
.foot{
text-align: center;
color: black;
}
.content,.foot{
text-align: center;
color: black;
}


div input[type="text"]{
border-radius: 4px
width:100%;
height:40px;
margin-bottom: 5px;
}

div input[type="telephone"]{
border-radius: 4px;
width:100%;
height:40px;
margin-bottom: 5px;
}
div input[type="radio"]{
margin-bottom: 5px;
}
div select{
border-radius: 4px;
width:100%;
height:40px;
margin-bottom: 5px;
}
div textarea{
border-radius: 4px;
width:100%;
height:40px;
margin-bottom: 5px;
padding:20px;
margin:15px auto;
}
div #myp{
text-align: center;
}
form{
width:50%;
margin:auto;
padding:50px;
border: 1px solid black;
height:auto;

}
.nancy{
text-justify:center;
text-align:center;
font-size:18px;
border-style:solid;
border-width:2px;
background-color:green;
height:200px;
width:50px;
padding:20px;
margin:auto;
}

.bgpic {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/cover2.jpg);
height:600px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding:10px;

}
.area{

width: 50rem;
height: 30rem;
margin: auto;
}
.area p{
padding: 10px;
margin-top: 25%;
font-size: 18px;
text-align: center;
}
.mybody{
background-color:rgba(200, 247, 197, 1);
}

.mutile{
width: 50rem;
height: 30rem;
margin: auto;
} 
#myp {
margin-top:60px;
